footer {
    position: relative;

    width: 1920px;
    height: 75px;
}

.footer-text {
    position: absolute;
    left: 875px;
    right: 875px;
    top: 23px;
    bottom: 23px;

    width: 170px;
    height: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: black;

    z-index: 1;
}

.footer-background {
    position: relative;

    width: 1920px;
    height: 75px;

    background: #E3E3E3;
}